[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.6'

[packages]
easygui = '*'
fire = '*'
marshmallow = "==3.0.0rc3"
matplotlib = '*'
MulticoreTSNE = '*'
natsort = '*'
networkx = '*'
numpy = '*'
pandas = '*'
parse = '*'
pocketsphinx = '*'
pydub = '*'
python_speech_features = '*'
pytube = '*'
retry = '*'
scikit-image = '*'
scipy = '*'
sklearn = '*'
tqdm = '*'
