[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.6'

[packages]
easygui = '*'
fire = '*'
marshmallow = "==3.0.0rc5"
matplotlib = '*'
MulticoreTSNE = {path = "./thirdparty/Multicore-TSNE"}
natsort = '==6.0.0'
numpy = '*'
pandas = '*'
parse = '*'
pocketsphinx = '*'
pydub = '*'
pytest = '==4.4.1'
python_speech_features = '*'
pytube = {editable = true,path = "./thirdparty/pytube"}
retry = '*'
scikit-image = '*'
scipy = '*'
sklearn = '*'
toposort = '==1.5'
tqdm = '==4.31.1'
